
.erroMsg
    color red
    padding 5px 10px
.ft
    bottom 0
    position absolute
    width 100%
    .text
        font-size 14px
        color #666
        text-align center
        position relative
        a
            color red
        
       